<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <service
            android:name="top.forcetech.service.P2PService"
            android:exported="false"
            android:process=":p2p" />

        <service
            android:name="top.forcetech.service.P3PService"
            android:exported="false"
            android:process=":p3p" />

        <service
            android:name="top.gsoft.mitv.MainActivity"
            android:exported="false"
            android:process=":mitv" />

    </application>
</manifest>